Sound-Opinion-Workflow template.txt 
[{"id":"dd83afba.796e1","type":"subflow","name":"Subflow 6","info":"","in":[{"x":40,"y":430,"wires":[{"id":"65588ccf.3f0fac"}]}],"out":[{"x":1282,"y":490,"wires":[{"id":"3d1c49b9.00696e","port":0}]}]},{"id":"ddc77b1e.ec105","type":"comment","z":"dd83afba.796e1","name":"Calls API, analyzes text","info":"","x":742,"y":320,"wires":[]},{"id":"65588ccf.3f0fac","type":"switch","z":"dd83afba.796e1","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":274.1745719909668,"y":492.2856864929199,"wires":[["a2625081.1133d"],["fad81475.e8c7f8"]]},{"id":"fad81475.e8c7f8","type":"change","z":"dd83afba.796e1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":553.5555114746094,"y":503.33331298828125,"wires":[["3d1c49b9.00696e"]]},{"id":"3d1c49b9.00696e","type":"function","z":"dd83afba.796e1","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\n\n\n\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":1113.0871887207031,"y":492.6984157562256,"wires":[[]]},{"id":"8a49477e.7837","type":"watson-tone-analyzer-v3","z":"dd83afba.796e1","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"false","x":737.8332748413086,"y":381.44439125061035,"wires":[["6b4ace2d.3dd2c"]]},{"id":"6b4ace2d.3dd2c","type":"change","z":"dd83afba.796e1","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":948.111026763916,"y":381.22222423553467,"wires":[["3d1c49b9.00696e"]]},{"id":"a2625081.1133d","type":"http request","z":"dd83afba.796e1","name":"Roomful of Teeth Mixed Review","method":"GET","ret":"txt","url":"http://www.nytimes.com/2013/11/06/arts/music/caroline-shaws-partita-has-premiere-by-roomful-of-teeth.html","tls":"","x":182.7380828857422,"y":304,"wires":[["58e121c9.bf5928"]]},{"id":"6309f944.62454","type":"debug","z":"dd83afba.796e1","name":"","active":true,"console":"false","complete":"false","x":665.1666259765625,"y":240,"wires":[]},{"id":"58e121c9.bf5928","type":"cheerio","z":"dd83afba.796e1","name":"HTML grabber","tag":"p.story-body-text","ret":"text","as":"single","map":[],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":false,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":420,"y":303,"wires":[["e380004e.dd382"]]},{"id":"e380004e.dd382","type":"function","z":"dd83afba.796e1","name":"SAGT Roomful","func":"\nif(msg.payload){\n    var texts = msg.payload.join(' ');\n\n    var par6 = texts.split(\"“Partita,”\")[1].split(\"is amazing.\")[0];\n    par6 = \"“Partita,”\" + par6 + \"is amazing.\";\n    msg.payload = {};\n    msg.payload = par6;\n\n    return [msg];\n}\nreturn null;\n","outputs":1,"noerr":0,"x":514.1666374206543,"y":408,"wires":[["8a49477e.7837"]]},{"id":"32485585.f44bb2","type":"subflow","name":"Subflow 5","info":"","in":[{"x":25,"y":338,"wires":[{"id":"9197417b.40b7c8"}]}],"out":[{"x":1382,"y":338,"wires":[{"id":"e0d10c4c.991328","port":0}]}]},{"id":"79667aa8.4a25f4","type":"comment","z":"32485585.f44bb2","name":"Calls API, analyzes text","info":"","x":812.825439453125,"y":176,"wires":[]},{"id":"9197417b.40b7c8","type":"switch","z":"32485585.f44bb2","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":149,"y":346.2856750488281,"wires":[["bea73a6c.7d0ff"],["4c58002b.c747a"]]},{"id":"4c58002b.c747a","type":"change","z":"32485585.f44bb2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":624.3809509277344,"y":359.33331298828125,"wires":[["e0d10c4c.991328"]]},{"id":"e0d10c4c.991328","type":"function","z":"32485585.f44bb2","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":1183.9126281738281,"y":348.6984157562256,"wires":[[]]},{"id":"eaa12a01.c92ee8","type":"watson-tone-analyzer-v3","z":"32485585.f44bb2","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"true","x":808.6587142944336,"y":237.44439125061035,"wires":[["216ffbb6.311b1c"]]},{"id":"216ffbb6.311b1c","type":"change","z":"32485585.f44bb2","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1018.936466217041,"y":237.22222423553467,"wires":[["e0d10c4c.991328"]]},{"id":"bea73a6c.7d0ff","type":"http request","z":"32485585.f44bb2","name":"Gounod Review NEGATIVE","method":"GET","ret":"txt","url":"http://www.chicagotribune.com/entertainment/music/vonrhein/ct-ent-cso-altinoglu-review-1007-story.html","tls":"","x":286.9920959472656,"y":235,"wires":[["381fb.d2a89e052"]]},{"id":"848978cd.593d","type":"debug","z":"32485585.f44bb2","name":"Top Tier Debug","active":true,"console":"false","complete":"payload","x":749.5634765625,"y":93.71429443359375,"wires":[]},{"id":"381fb.d2a89e052","type":"function","z":"32485585.f44bb2","name":"SAGT Gounod NEG","func":"\nif (~msg.payload.indexOf('<span')) {\n    var par5 = msg.payload.split(\"Gounod’s solemn mass\")[1].split(\"162 years.\")[0];\n    par5 = \"Gounod’s solemn mass\" + par5 + \"162 years.\";\n    msg.payload = {};\n    msg.payload = par5;\n\n    return [msg];\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":558.8492431640625,"y":234,"wires":[["eaa12a01.c92ee8","848978cd.593d"]]},{"id":"553bab00.ae6e14","type":"subflow","name":"Subflow 2","info":"","in":[{"x":25,"y":207.14286613464355,"wires":[{"id":"313d225f.ed63ae"}]}],"out":[{"x":1152.8571758270264,"y":290.00000381469727,"wires":[{"id":"dd1844a4.54c1d8","port":0}]}]},{"id":"5486c927.c40ed8","type":"comment","z":"553bab00.ae6e14","name":"Calls API, analyzes text","info":"","x":620,"y":114.28571319580078,"wires":[]},{"id":"313d225f.ed63ae","type":"switch","z":"553bab00.ae6e14","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":152.1745719909668,"y":286.5713996887207,"wires":[["ccef36fd.1fd778"],["51221032.7bd688"]]},{"id":"51221032.7bd688","type":"change","z":"553bab00.ae6e14","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":431.5555114746094,"y":297.61902618408203,"wires":[["dd1844a4.54c1d8"]]},{"id":"dd1844a4.54c1d8","type":"function","z":"553bab00.ae6e14","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":991.0871887207031,"y":286.98412895202637,"wires":[[]]},{"id":"82b63fea.8e119","type":"watson-tone-analyzer-v3","z":"553bab00.ae6e14","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"true","x":615.8332748413086,"y":175.73010444641113,"wires":[["5b1d76b0.379b8"]]},{"id":"5b1d76b0.379b8","type":"change","z":"553bab00.ae6e14","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":826.111026763916,"y":175.50793743133545,"wires":[["dd1844a4.54c1d8"]]},{"id":"ccef36fd.1fd778","type":"http request","z":"553bab00.ae6e14","name":"Gounod Review Mixed","method":"GET","ret":"txt","url":"http://chicagoclassicalreview.com/2017/10/a-glorious-french-rediscovery-from-cso-and-a-veteran-musicians-adieu/","tls":"","x":200.16665649414062,"y":173.28571319580078,"wires":[["1a9d7014.ba897"]]},{"id":"1a9d7014.ba897","type":"function","z":"553bab00.ae6e14","name":"SAGT Gounod","func":"\nif (~msg.payload.indexOf('<span')) {\n    var par2 = msg.payload.split(\"Gounod’s mass\")[1].split(\"trio.\")[0];\n    par2 = \"Gounod’s mass\" + par2 + \"trio.\";\n    msg.payload = {};\n    msg.payload = par2;\n\n    return [msg];\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":418.02381134033203,"y":171.28570747375488,"wires":[["82b63fea.8e119"]]},{"id":"6ea938c1.2c6b48","type":"subflow","name":"Subflow 1","info":"","in":[{"x":44.285715103149414,"y":438.57142448425293,"wires":[{"id":"9e16db12.af321"}]}],"out":[{"x":1198.5713901519775,"y":442.85715103149414,"wires":[{"id":"faede44f.5dc05","port":0}]}]},{"id":"19bb3ae1.624ee5","type":"comment","z":"6ea938c1.2c6b48","name":"Calls API, analyzes text","info":"","x":642.8254280090332,"y":272.8571472167969,"wires":[]},{"id":"9e16db12.af321","type":"switch","z":"6ea938c1.2c6b48","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":175,"y":445.1428337097168,"wires":[["5cd00297.939ffc"],["32c4015b.eecb8e"]]},{"id":"32c4015b.eecb8e","type":"change","z":"6ea938c1.2c6b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":454.3809394836426,"y":456.1904602050781,"wires":[["faede44f.5dc05","726d7ca1.53fe04"]]},{"id":"faede44f.5dc05","type":"function","z":"6ea938c1.2c6b48","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":1013.9126167297363,"y":445.55556297302246,"wires":[[]]},{"id":"79719908.4dc7f","type":"watson-tone-analyzer-v3","z":"6ea938c1.2c6b48","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"false","x":638.6587028503418,"y":334.3015384674072,"wires":[["906ea306.3cf1d8"]]},{"id":"906ea306.3cf1d8","type":"change","z":"6ea938c1.2c6b48","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":848.9364547729492,"y":334.07937145233154,"wires":[["faede44f.5dc05"]]},{"id":"5cd00297.939ffc","type":"http request","z":"6ea938c1.2c6b48","name":"Mahler Das Lied Review Mixed","method":"GET","ret":"txt","url":"http://www.newyorkclassicalreview.com/2017/06/salonen-met-orchestra-offer-fine-schumann-anodyne-mahler-saved-by-soloists/","tls":"","x":191.56351470947266,"y":331.857141494751,"wires":[["42fef072.f8948"]]},{"id":"726d7ca1.53fe04","type":"debug","z":"6ea938c1.2c6b48","name":"Lower","active":true,"console":"false","complete":"payload","x":726.8492240905762,"y":520.285722732544,"wires":[]},{"id":"42fef072.f8948","type":"function","z":"6ea938c1.2c6b48","name":"SAGT Mahler","func":"\nif (~msg.payload.indexOf('<span')) {\n    var par1 = msg.payload.split(\"The orchestra’s\")[1].split(\"heaven.\")[0];\n    par1 = \"The orchestra's\" + par1 + \"heaven.\";\n    msg.payload = {};\n    msg.payload = par1;\n\n    return [msg];\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":427.9920845031738,"y":329.8571472167969,"wires":[["79719908.4dc7f"]]},{"id":"26dac0d2.255178","type":"subflow","name":"Subflow 4","info":"","in":[{"x":23.571441650390625,"y":1022.2856864929199,"wires":[{"id":"4748df0d.2287e8"}]}],"out":[{"x":1182.484058380127,"y":1022.6984157562256,"wires":[{"id":"ea5b0818.177e88","port":0}]},{"x":592.9523811340332,"y":1033.3333129882812,"wires":[{"id":"329f110.3b309f","port":0}]}]},{"id":"94c9ed3c.70b78","type":"function","z":"26dac0d2.255178","name":"SAGT ThinEdge","func":"// does a simple text extract parse of the http output \n\nif (~msg.payload.indexOf('<span')) {\n    var par1 = msg.payload.split(\"First and foremost,\")[1].split(\"performance.\")[0];\n    par1 = \"First and foremost,\" + par1 + \"performance.\";\n    msg.payload = {};\n    msg.payload = par1;\n\n    return [msg];\n    \n}\n\nreturn null;","outputs":"1","noerr":0,"x":424.55554580688477,"y":906.5079231262207,"wires":[["55e9b350.93bfec"]]},{"id":"854a127.ae686f","type":"http request","z":"26dac0d2.255178","name":"Review Blog","method":"GET","ret":"txt","url":"http://www.musicaltoronto.org/2016/09/16/scrutiny-thin-edge-makes-the-finite-infinite-at-inaugural-feldman-festival/#","tls":"","x":255.11108779907227,"y":907.2857551574707,"wires":[["94c9ed3c.70b78"]]},{"id":"2f682452.42f57c","type":"comment","z":"26dac0d2.255178","name":"Calls API, analyzes text","info":"","x":621.3968696594238,"y":850,"wires":[]},{"id":"4748df0d.2287e8","type":"switch","z":"26dac0d2.255178","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":153.57144165039062,"y":1022.2856864929199,"wires":[["854a127.ae686f"],["329f110.3b309f"]]},{"id":"329f110.3b309f","type":"change","z":"26dac0d2.255178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":432.9523811340332,"y":1033.3333129882812,"wires":[["ea5b0818.177e88"]]},{"id":"ea5b0818.177e88","type":"function","z":"26dac0d2.255178","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n}\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":992.484058380127,"y":1022.6984157562256,"wires":[[]]},{"id":"55e9b350.93bfec","type":"watson-tone-analyzer-v3","z":"26dac0d2.255178","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"false","x":617.2301445007324,"y":911.4443912506104,"wires":[["7e837824.104008"]]},{"id":"7e837824.104008","type":"change","z":"26dac0d2.255178","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":827.5078964233398,"y":911.2222242355347,"wires":[["ea5b0818.177e88"]]},{"id":"46e4e91f.0a1c6","type":"subflow","name":"Subflow 3","info":"","in":[{"x":130.50791549682617,"y":573.2856864929199,"wires":[{"id":"805b94f0.181008"}]}],"out":[{"x":1289.4205322265625,"y":573.6984157562256,"wires":[{"id":"51e5c60a.5ac4e8","port":0}]},{"x":1289.4205322265625,"y":573.6984157562256,"wires":[]},{"x":1289.4205322265625,"y":573.6984157562256,"wires":[]}]},{"id":"63236806.71a018","type":"comment","z":"46e4e91f.0a1c6","name":"Calls API, analyzes text","info":"","x":728.3333435058594,"y":401,"wires":[]},{"id":"805b94f0.181008","type":"switch","z":"46e4e91f.0a1c6","name":"","property":"response","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":260.5079154968262,"y":573.2856864929199,"wires":[["accad4dd.e6b4b"],["3ba35865.d5edc8","3a75ba91.a01e6e"]]},{"id":"3ba35865.d5edc8","type":"change","z":"46e4e91f.0a1c6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":539.8888549804688,"y":584.3333129882812,"wires":[["51e5c60a.5ac4e8"]]},{"id":"51e5c60a.5ac4e8","type":"function","z":"46e4e91f.0a1c6","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":1099.4205322265625,"y":573.6984157562256,"wires":[[]]},{"id":"987f8fd3.c9336","type":"watson-tone-analyzer-v3","z":"46e4e91f.0a1c6","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"false","x":724.166618347168,"y":462.44439125061035,"wires":[["b39ebe42.3752"]]},{"id":"b39ebe42.3752","type":"change","z":"46e4e91f.0a1c6","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":934.4443702697754,"y":462.22222423553467,"wires":[["51e5c60a.5ac4e8"]]},{"id":"accad4dd.e6b4b","type":"http request","z":"46e4e91f.0a1c6","name":"Beethoven Review Neg","method":"GET","ret":"txt","url":"http://www.pressherald.com/2017/04/24/concert-review-portland-symphony-orchestra-completes-beethoven-symphony-cycle-with-a-solid-ninth/","tls":"","x":318.5,"y":460,"wires":[["f2bef5df.5115d8"]]},{"id":"3a75ba91.a01e6e","type":"debug","z":"46e4e91f.0a1c6","name":"Lower Beethoven","active":true,"console":"false","complete":"payload","x":422.3571128845215,"y":629.8571662902832,"wires":[]},{"id":"f2bef5df.5115d8","type":"function","z":"46e4e91f.0a1c6","name":"SAGT Beethoven","func":"\nif (~msg.payload.indexOf('<span')) {\n    var par2 = msg.payload.split(\"Other\")[1].split(\"by comparison.\")[0];\n    par2 = \"Other\" + par2 + \"by comparison.\";\n    msg.payload = {};\n    msg.payload = par2;\n\n    return [msg];\n}\n\nreturn null;\n","outputs":1,"noerr":0,"x":533.5,"y":458,"wires":[["987f8fd3.c9336"]]},{"id":"8c80e3bf.a3b1a","type":"tab","label":"Sound Opinions workflow"},{"id":"e88f003d.1f7de","type":"inject","z":"8c80e3bf.a3b1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122.38095092773438,"y":504.476167678833,"wires":[["ea5a7689.5bc9","2ec59f4e.95794","e307d4f3.e051e8","16016598.65c61a","b889348b.6b52d","b75cd0de.cd5d1"]]},{"id":"2ec59f4e.95794","type":"subflow:46e4e91f.0a1c6","z":"8c80e3bf.a3b1a","name":"Beethoven Review & Analysis","x":426.6309051513672,"y":576.0000019073486,"wires":[["8a8e8fd.b5ecb7"],[],[]]},{"id":"ea5a7689.5bc9","type":"subflow:26dac0d2.255178","z":"8c80e3bf.a3b1a","name":"Thin Edge Review & Analysis","x":438.4087371826172,"y":660.9523944854736,"wires":[["9523f07d.ac7b68"],[]]},{"id":"6cd2530d.fd7b64","type":"file","z":"8c80e3bf.a3b1a","name":"","filename":"/Users/Tony/Documents/sentiment_results.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1974.0238494873047,"y":554.1428241729736,"wires":[]},{"id":"8a8e8fd.b5ecb7","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":896.3808822631836,"y":575.6191024780273,"wires":[["6cd2530d.fd7b64"]]},{"id":"9523f07d.ac7b68","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":893.2380599975586,"y":684.9523591995239,"wires":[["6cd2530d.fd7b64"]]},{"id":"e307d4f3.e051e8","type":"subflow:6ea938c1.2c6b48","z":"8c80e3bf.a3b1a","name":"Mahler Review & Analysis","x":398.1666564941406,"y":406,"wires":[["7a847829.bfcd98"]]},{"id":"16016598.65c61a","type":"subflow:553bab00.ae6e14","z":"8c80e3bf.a3b1a","name":"Gounod Mass Review (MIXED) & Analysis","x":448.6428680419922,"y":476.2857151031494,"wires":[["bc994cf2.c1d878"]]},{"id":"b889348b.6b52d","type":"subflow:32485585.f44bb2","z":"8c80e3bf.a3b1a","name":"Gounod Mass Review (Negative) & Analysis","x":454.02381896972656,"y":733.0000019073486,"wires":[["18b3200a.5892e"]]},{"id":"bc994cf2.c1d878","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":898.6190872192383,"y":492.9523916244507,"wires":[["6cd2530d.fd7b64"]]},{"id":"7a847829.bfcd98","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":897.8094711303711,"y":341.8571500778198,"wires":[["6cd2530d.fd7b64"]]},{"id":"18b3200a.5892e","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":895.1428070068359,"y":755.6190891265869,"wires":[["6cd2530d.fd7b64"]]},{"id":"b75cd0de.cd5d1","type":"subflow:dd83afba.796e1","z":"8c80e3bf.a3b1a","name":"Roomful of Teeth Review & Analysis","x":454.6666717529297,"y":820.0000019073486,"wires":[["ee38654d.69b9d8"]]},{"id":"ee38654d.69b9d8","type":"json","z":"8c80e3bf.a3b1a","name":"Convert to JSON","x":884.3333206176758,"y":824.3333263397217,"wires":[["6cd2530d.fd7b64"]]},{"id":"3f542dcf.f802e2","type":"switch","z":"8c80e3bf.a3b1a","name":"","property":"response","propertyType":"flow","rules":[{"t":"false"},{"t":"else"},{"t":"null"}],"checkall":"false","outputs":3,"x":1266.9999656677246,"y":1689.618902206421,"wires":[["219f5996.2f72d6","2e6ef5.8e50710c"],["d842229d.955eb8","30e4ffb3.3779c8"],["219f5996.2f72d6","2e6ef5.8e50710c"]]},{"id":"d842229d.955eb8","type":"change","z":"8c80e3bf.a3b1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"response","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1675.380947113037,"y":1718.666509628296,"wires":[["b1e22838.573a2","ae429f03.8edff"]]},{"id":"b1e22838.573a2","type":"function","z":"8c80e3bf.a3b1a","name":"Sentiment Result Parse","func":"\n//var emotion = [msg.response.document_tone.tone_categories[0].tones[3].tone_name, msg.response.document_tone.tone_categories[0].tones[3].score]\n\nvar anylSentScores =[];\n\n\n\n\n\n\n\nvar msg3 ={};\nfor (var i =0; i<msg.payload.sentences_tone.length; i++){\n   anylSentScores[i]=[msg.payload.sentences_tone[i].text,  msg.payload.sentences_tone[i].tone_categories[1].tones[0].score, msg.payload.sentences_tone[i].tone_categories[0].tones];\n   \n}\n\n\n\nmsg3.payload = anylSentScores;\n\n\n\n\n\n\nreturn [msg3];","outputs":"1","noerr":0,"x":2221.912582397461,"y":1708.0316734313965,"wires":[["25f58716.dd4eb"]]},{"id":"8a3d4e1c.52e248","type":"watson-tone-analyzer-v3","z":"8c80e3bf.a3b1a","name":"Tone Analysis","tones":"all","sentences":"true","contentType":"false","x":1854.6586570739746,"y":1589.777593612671,"wires":[["b2ac7b9e.bf2bc8"]]},{"id":"b2ac7b9e.bf2bc8","type":"change","z":"8c80e3bf.a3b1a","name":"","rules":[{"t":"set","p":"response","pt":"flow","to":"response","tot":"msg"},{"t":"move","p":"response","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2056.936420440674,"y":1596.5554819107056,"wires":[["b1e22838.573a2"]]},{"id":"219f5996.2f72d6","type":"http request","z":"8c80e3bf.a3b1a","name":"Roomful of Teeth Mixed Review","method":"GET","ret":"txt","url":"http://www.nytimes.com/2013/11/06/arts/music/caroline-shaws-partita-has-premiere-by-roomful-of-teeth.html","tls":"","x":1399.5634803771973,"y":1594.333251953125,"wires":[["f6e6504a.fd97a8"]]},{"id":"25f58716.dd4eb","type":"debug","z":"8c80e3bf.a3b1a","name":"","active":true,"console":"false","complete":"payload","x":2437.992031097412,"y":1705.333257675171,"wires":[]},{"id":"2f54414c.2820be","type":"function","z":"8c80e3bf.a3b1a","name":"SAGT Roomful","func":"\nif(msg.payload){\n    var texts = msg.payload.join(' ');\n\n    var par6 = texts.split(\"“Partita,”\")[1].split(\"is amazing.\")[0];\n    par6 = \"“Partita,”\" + par6 + \"is amazing.\";\n    msg.payload = {};\n    msg.payload = par6;\n\n    return [msg];\n}\nreturn null;\n","outputs":1,"noerr":0,"x":1669.992031097412,"y":1592.333257675171,"wires":[["8a3d4e1c.52e248"]]},{"id":"f6e6504a.fd97a8","type":"cheerio","z":"8c80e3bf.a3b1a","name":"HTML grabber","tag":"p.story-body-text","ret":"text","as":"single","map":[],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":false,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":1575.8253936767578,"y":1487.333257675171,"wires":[["2f54414c.2820be"]]},{"id":"cddfc8c2.361258","type":"inject","z":"8c80e3bf.a3b1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1289.9999656677246,"y":1791.333257675171,"wires":[["3f542dcf.f802e2"]]},{"id":"ae429f03.8edff","type":"debug","z":"8c80e3bf.a3b1a","name":"Second route","active":true,"console":"false","complete":"payload","x":1833.9999656677246,"y":1766.333257675171,"wires":[]},{"id":"30e4ffb3.3779c8","type":"debug","z":"8c80e3bf.a3b1a","name":"lower Switch","active":true,"console":"false","complete":"true","x":1504.9999656677246,"y":1779.333257675171,"wires":[]},{"id":"2e6ef5.8e50710c","type":"debug","z":"8c80e3bf.a3b1a","name":"upper Switch","active":true,"console":"false","complete":"true","x":1602.9999656677246,"y":1659.333257675171,"wires":[]}]
